* {
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;  
}

.profile-card {
  background-color: hsla(35, 30%, 80%, .6);
  border-radius: 12px;
  box-shadow: hsla(0, 0%, 0%, .8) 10px 10px 80px;
  max-width: 85vw;
  max-height: 85vh;
  margin-top: 2rem;
  text-align: center;
}

.content {
  border-top: 1px solid hsla(0, 0%, 30%, .8);
}

.head, .links {
  text-align: center;
}

.head, .content {
  width: 90%;
  margin: 0 auto;
}

img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  padding: 1px;
  background-color: #666;
  transition: all 0.5s ease-in-out;
  filter: grayscale(50%);
}

.profile-image {
  margin-top: -50px;
}
ul {
  list-style-type: none;
}
li {
  display: inline;
}
.head, .about {
  margin-bottom: 1rem;
}


body {
  background: url('assets/cover.jpg') no-repeat center center fixed;
  background-size: cover;
}
img:hover {
  transform: scale(1.2) rotate(25deg);
  filter: grayscale(20%);
}
h1 {
  font-size: 2.8rem;
  font-family: 'Audiowide', cursive;
  color: hsla(0, 0%, 10%, 1);
  text-shadow: gray 0.1em 0.1em 0.1em;
  margin-top: .6rem;
  margin-bottom: .4rem;
}
h2 {
  font-size: 1.1rem;
  font-family: 'Jost', sans-serif;
  letter-spacing: .1rem;
}
span {
  color: hsla(0, 0%, 10%, .5);
  max-width: 2rem;
}
.about {
  text-align: center;
  font-size: 1.1rem;
  font-family: 'Jost', sans-serif;
}

a {
  color: rgba(0, 0, 255, 0.6);
}

.marker {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
}

span {
  font-family: 'Jost', sans-serif;
}
.head {
  text-align: center;
}

.links {
  font-size: 1rem;
}

@media (max-width: 768px) {
  .profile-card {
    max-height: 82vh;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
}


@media (max-width: 768px) {
  .about {
    font-size: .9rem;
  }
}
